@page
@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-4" data-masonry='{"percentPosition": true }'>


    @foreach (var item in Model.Picture)
    {
        string uploaded = "";

        if ((DateTime.Now - item.DateAdded).Days <= 1)
        {
            if ((DateTime.Now - item.DateAdded).Hours <= 1)
            {
                uploaded = "Added " + (DateTime.Now - item.DateAdded).Minutes + " minutes ago";
            }
            else
            {
                uploaded = "Added " + (DateTime.Now - item.DateAdded).Hours + " hours ago";
            }
        }
        else
        {
            uploaded = "Added " + (DateTime.Now - item.DateAdded).Days + " days ago";
        }

        <div class="col-sm-4 col-lg-3 mb-4">
            <div class="card">
                <img src="@item.URL" alt="..." class="card-img-top">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">@uploaded by @Html.DisplayFor(x => item.Owner.FirstName) @Html.DisplayFor(x => item.Owner.LastName)</small></p>
                    <p class="card-text">
                        <a asp-page="./Picture/Details" asp-route-id="@item.ID"><i class="far fa-edit"></i></a> &nbsp;
                        @if (Model.loggedInUser == item.OwnerId)
                        {
                            <a><i class="fas fa-user-plus"></i></a>
                        }
                    </p>
                </div>
            </div>
        </div>

    }

</div>
