@page
@model PixCollab.Pages.Picture.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Whoops! The picture cannot be found.</p>
</header>
